.footer{
    padding: 3rem 8rem;

    @include respond(phone){
        padding: 1rem;
        flex-direction: column;
    }

    & > :first-child{
        background-color: blue;
        @include respond(phone){
           flex-basis: 99%;
           margin-bottom: 2rem
        }
    }

    ul{
        @include respond(phone){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-items: center;
        }
    }

    
    figure{

        height: 6rem;
        width: 25rem;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}